In [4]:
import torch
import jovian
import torchvision
import torch.nn as nn
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import torch.nn.functional as F
from torchvision.datasets.utils import download_url
from torch.utils.data import DataLoader, TensorDataset, random_split
%matplotlib inline

In [5]:
dataframe = pd.read_csv('D:\PyTorch\covid19India.csv')

In [6]:
dataframe.head()
df = dataframe.loc[(dataframe['State/UnionTerritory'] == 'Maharashtra')]
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
76,77,09/03/20,6:00 PM,Maharashtra,2,0,0,0,2
91,92,10/03/20,6:00 PM,Maharashtra,5,0,0,0,5
97,98,11/03/20,6:00 PM,Maharashtra,2,0,0,0,2
120,121,12/03/20,6:00 PM,Maharashtra,11,0,0,0,11
133,134,13/03/20,6:00 PM,Maharashtra,14,0,0,0,14
...,...,...,...,...,...,...,...,...,...
2361,2362,27/05/20,8:00 AM,Maharashtra,-,-,16954,1792,54758
2397,2398,28/05/20,8:00 AM,Maharashtra,-,-,17918,1897,56948
2433,2434,29/05/20,8:00 AM,Maharashtra,-,-,17918,1897,56948
2469,2470,30/05/20,8:00 AM,Maharashtra,-,-,26997,2098,62228
2505,2506,31/05/20,8:00 AM,Maharashtra,-,-,28081,2197,65168

In [7]:
dataframe.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [8]:
dataframe.shape[0]

2522

In [9]:
dataframe.shape[1]

9

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522 entries, 0 to 2521
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       2522 non-null   int64
 1   Date                      2522 non-null   object
 2   Time                      2522 non-null   object
 3   State/UnionTerritory      2522 non-null   object
 4   ConfirmedIndianNational   2522 non-null   object
 5   ConfirmedForeignNational  2522 non-null   object
 6   Cured                     2522 non-null   int64
 7   Deaths                    2522 non-null   int64
 8   Confirmed                 2522 non-null   int64
dtypes: int64(4), object(5)
memory usage: 177.5+ KB

In [11]:
dataframe.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [12]:
#Obtaining the relevant columns
#df = dataframe.iloc[:, [0,1,2,3,4,5,6]]
#df = dataframe.drop(['deltaconfirmed', 'deltadeaths', 'deltarecovered', 'statenotes', 'lastupdatedtime'], axis = 1)
df = dataframe.drop(['Date', 'Time'], axis = 1)
df = df.loc[(dataframe['State/UnionTerritory'] == 'Maharashtra')]
df

,Sno,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
76,77,Maharashtra,2,0,0,0,2
91,92,Maharashtra,5,0,0,0,5
97,98,Maharashtra,2,0,0,0,2
120,121,Maharashtra,11,0,0,0,11
133,134,Maharashtra,14,0,0,0,14
...,...,...,...,...,...,...,...
2361,2362,Maharashtra,-,-,16954,1792,54758
2397,2398,Maharashtra,-,-,17918,1897,56948
2433,2434,Maharashtra,-,-,17918,1897,56948
2469,2470,Maharashtra,-,-,26997,2098,62228
2505,2506,Maharashtra,-,-,28081,2197,65168

In [13]:
df.head()

,Sno,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
76,77,Maharashtra,2,0,0,0,2
91,92,Maharashtra,5,0,0,0,5
97,98,Maharashtra,2,0,0,0,2
120,121,Maharashtra,11,0,0,0,11
133,134,Maharashtra,14,0,0,0,14

In [14]:
df._get_numeric_data().columns

Index(['Sno', 'Cured', 'Deaths', 'Confirmed'], dtype='object')

In [15]:
num_rows = df.shape[0]
num_cols = df.shape[1]
input_cols = df.columns.values.tolist()#['confirmed', 'active', 'deaths']
output_cols = [df.columns[-1]]
categorical_cols = list(set(df.columns) - set(df._get_numeric_data().columns))
print(categorical_cols)
print(num_rows, num_cols)
print(input_cols, output_cols)
df.info()

['ConfirmedForeignNational', 'ConfirmedIndianNational', 'State/UnionTerritory']
84 7
['Sno', 'State/UnionTerritory', 'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed'] ['Confirmed']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 76 to 2505
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       84 non-null     int64
 1   State/UnionTerritory      84 non-null     object
 2   ConfirmedIndianNational   84 non-null     object
 3   ConfirmedForeignNational  84 non-null     object
 4   Cured                     84 non-null     int64
 5   Deaths                    84 non-null     int64
 6   Confirmed                 84 non-null     int64
dtypes: int64(4), object(3)
memory usage: 5.2+ KB

In [16]:
def dataframe_to_arrays(dataframe):
    # Make a copy of the original dataframe
    dataframe1 = dataframe.copy(deep=True)
    # Convert non-numeric categorical columns to numbers
    for col in categorical_cols:
        dataframe1[col] = dataframe1[col].astype('category').cat.codes
    # Extract input & outupts as numpy arrays
    inputs_array = dataframe1[input_cols].to_numpy()
    targets_array = dataframe1[output_cols].to_numpy()
    return inputs_array, targets_array

In [17]:
inputs_array, targets_array = dataframe_to_arrays(df)
inputs_array, targets_array

(array([[   77,     0,     7,     1,     0,     0,     2],
        [   92,     0,    13,     1,     0,     0,     5],
        [   98,     0,     7,     1,     0,     0,     2],
        [  121,     0,     1,     1,     0,     0,    11],
        [  134,     0,     5,     1,     0,     0,    14],
        [  147,     0,     5,     1,     0,     0,    14],
        [  154,     0,     8,     1,     0,     0,    32],
        [  168,     0,     8,     1,     0,     0,    32],
        [  183,     0,     9,     2,     0,     1,    39],
        [  198,     0,    10,     2,     0,     1,    42],
        [  216,     0,    11,     2,     0,     1,    47],
        [  236,     0,    12,     2,     0,     1,    52],
        [  258,     0,    14,     2,     0,     1,    63],
        [  281,     0,    15,     2,     0,     2,    67],
        [  304,     0,    16,     2,     0,     2,    74],
        [  327,     0,    17,     2,     0,     2,    89],
        [  351,     0,     3,     2,     1,     3,   128],
        [  381,     0,     2,     2,     1,     3,   124],
        [  408,     0,     4,     2,    15,     4,   130],
        [  435,     0,     6,     2,    25,     5,   180],
        [  462,     0,     0,     0,    25,     6,   186],
        [  489,     0,     0,     0,    25,     8,   198],
        [  517,     0,     0,     0,    39,     9,   216],
        [  547,     0,     0,     0,    39,     9,   302],
        [  576,     0,     0,     0,    42,    13,   335],
        [  606,     0,     0,     0,    42,    16,   335],
        [  637,     0,     0,     0,    42,    24,   490],
        [  667,     0,     0,     0,    42,    24,   490],
        [  697,     0,     0,     0,    56,    45,   748],
        [  727,     0,     0,     0,    56,    48,   868],
        [  758,     0,     0,     0,    79,    64,  1018],
        [  789,     0,     0,     0,   117,    72,  1135],
        [  820,     0,     0,     0,   125,    97,  1364],
        [  851,     0,     0,     0,   188,   110,  1574],
        [  882,     0,     0,     0,   208,   127,  1761],
        [  913,     0,     0,     0,   217,   149,  1985],
        [  945,     0,     0,     0,   229,   160,  2337],
        [  978,     0,     0,     0,   259,   178,  2687],
        [ 1011,     0,     0,     0,   295,   187,  2919],
        [ 1044,     0,     0,     0,   300,   194,  3205],
        [ 1077,     0,     0,     0,   331,   201,  3323],
        [ 1110,     0,     0,     0,   365,   211,  3651],
        [ 1143,     0,     0,     0,   507,   223,  4203],
        [ 1176,     0,     0,     0,   572,   232,  4669],
        [ 1209,     0,     0,     0,   722,   251,  5221],
        [ 1241,     0,     0,     0,   789,   269,  5652],
        [ 1273,     0,     0,     0,   840,   283,  6430],
        [ 1305,     0,     0,     0,   957,   301,  6817],
        [ 1337,     0,     0,     0,  1076,   323,  7628],
        [ 1369,     0,     0,     0,  1188,   342,  8068],
        [ 1401,     0,     0,     0,  1282,   369,  8590],
        [ 1433,     0,     0,     0,  1388,   400,  9318],
        [ 1465,     0,     0,     0,  1593,   432,  9915],
        [ 1497,     0,     0,     0,  1773,   459, 10498],
        [ 1529,     0,     0,     0,  1879,   485, 11506],
        [ 1561,     0,     0,     0,  2000,   521, 12296],
        [ 1593,     0,     0,     0,  2115,   548, 12974],
        [ 1625,     0,     0,     0,  2465,   583, 14541],
        [ 1658,     0,     0,     0,  2819,   617, 15525],
        [ 1691,     0,     0,     0,  3094,   651, 16758],
        [ 1724,     0,     0,     0,  3301,   694, 17974],
        [ 1757,     0,     0,     0,  3470,   731, 19063],
        [ 1790,     0,     0,     0,  3800,   779, 20228],
        [ 1823,     0,     0,     0,  4199,   832, 22171],
        [ 1856,     0,     0,     0,  4786,   868, 23401],
        [ 1889,     0,     0,     0,  5125,   921, 24427],
        [ 1922,     0,     0,     0,  5547,   975, 25922],
        [ 1955,     0,     0,     0,  6059,  1019, 27524],
        [ 1988,     0,     0,     0,  6564,  1068, 29100],
        [ 2021,     0,     0,     0,  7088,  1135, 30706],
        [ 2054,     0,     0,     0,  7688,  1198, 33053],
        [ 2087,     0,     0,     0,  8437,  1249, 35058],
        [ 2120,     0,     0,     0,  9639,  1325, 37136],
        [ 2154,     0,     0,     0, 10318,  1390, 39297],
        [ 2188,     0,     0,     0, 11726,  1454, 41642],
        [ 2222,     0,     0,     0, 12583,  1517, 44582],
        [ 2256,     0,     0,     0, 13404,  1577, 47190],
        [ 2291,     0,     0,     0, 14600,  1635, 50231],
        [ 2326,     0,     0,     0, 15786,  1695, 52667],
        [ 2362,     0,     0,     0, 16954,  1792, 54758],
        [ 2398,     0,     0,     0, 17918,  1897, 56948],
        [ 2434,     0,     0,     0, 17918,  1897, 56948],
        [ 2470,     0,     0,     0, 26997,  2098, 62228],
        [ 2506,     0,     0,     0, 28081,  2197, 65168]], dtype=int64),
 array([[    2],
        [    5],
        [    2],
        [   11],
        [   14],
        [   14],
        [   32],
        [   32],
        [   39],
        [   42],
        [   47],
        [   52],
        [   63],
        [   67],
        [   74],
        [   89],
        [  128],
        [  124],
        [  130],
        [  180],
        [  186],
        [  198],
        [  216],
        [  302],
        [  335],
        [  335],
        [  490],
        [  490],
        [  748],
        [  868],
        [ 1018],
        [ 1135],
        [ 1364],
        [ 1574],
        [ 1761],
        [ 1985],
        [ 2337],
        [ 2687],
        [ 2919],
        [ 3205],
        [ 3323],
        [ 3651],
        [ 4203],
        [ 4669],
        [ 5221],
        [ 5652],
        [ 6430],
        [ 6817],
        [ 7628],
        [ 8068],
        [ 8590],
        [ 9318],
        [ 9915],
        [10498],
        [11506],
        [12296],
        [12974],
        [14541],
        [15525],
        [16758],
        [17974],
        [19063],
        [20228],
        [22171],
        [23401],
        [24427],
        [25922],
        [27524],
        [29100],
        [30706],
        [33053],
        [35058],
        [37136],
        [39297],
        [41642],
        [44582],
        [47190],
        [50231],
        [52667],
        [54758],
        [56948],
        [56948],
        [62228],
        [65168]], dtype=int64))

In [18]:
inputs = torch.from_numpy(inputs_array).float()
targets = torch.from_numpy(targets_array).float()

In [19]:
dataset = TensorDataset(inputs, targets)

In [20]:
# Splitting
val_percent = 0.1
val_size = int(num_rows * val_percent)
train_size = num_rows - val_size

train_ds, val_ds = random_split(dataset, [train_size,val_size])

In [21]:
print(len(train_ds), len(val_ds))

76 8

In [22]:
batch_size = 64

In [23]:
train_loader = DataLoader(train_ds, batch_size, shuffle=True)
val_loader = DataLoader(val_ds, batch_size)

In [24]:
for xb, yb in train_loader:
    print("inputs:", xb)
    print("targets:", yb)
    break

inputs: tensor([[2.8100e+02, 0.0000e+00, 1.5000e+01, 2.0000e+00, 0.0000e+00, 2.0000e+00,
         6.7000e+01],
        [7.2700e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.6000e+01, 4.8000e+01,
         8.6800e+02],
        [2.2910e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.4600e+04, 1.6350e+03,
         5.0231e+04],
        [8.2000e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.2500e+02, 9.7000e+01,
         1.3640e+03],
        [1.4970e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.7730e+03, 4.5900e+02,
         1.0498e+04],
        [1.8230e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 4.1990e+03, 8.3200e+02,
         2.2171e+04],
        [2.1880e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.1726e+04, 1.4540e+03,
         4.1642e+04],
        [1.9880e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 6.5640e+03, 1.0680e+03,
         2.9100e+04],
        [6.0600e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 4.2000e+01, 1.6000e+01,
         3.3500e+02],
        [2.1540e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0318e+04, 1.3900e+03,
         3.9297e+04],
        [1.3050e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 9.5700e+02, 3.0100e+02,
         6.8170e+03],
        [8.8200e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.0800e+02, 1.2700e+02,
         1.7610e+03],
        [1.4700e+02, 0.0000e+00, 5.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
         1.4000e+01],
        [1.7900e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.8000e+03, 7.7900e+02,
         2.0228e+04],
        [1.9800e+02, 0.0000e+00, 1.0000e+01, 2.0000e+00, 0.0000e+00, 1.0000e+00,
         4.2000e+01],
        [1.3690e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.1880e+03, 3.4200e+02,
         8.0680e+03],
        [4.3500e+02, 0.0000e+00, 6.0000e+00, 2.0000e+00, 2.5000e+01, 5.0000e+00,
         1.8000e+02],
        [1.0110e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.9500e+02, 1.8700e+02,
         2.9190e+03],
        [3.8100e+02, 0.0000e+00, 2.0000e+00, 2.0000e+00, 1.0000e+00, 3.0000e+00,
         1.2400e+02],
        [2.3600e+02, 0.0000e+00, 1.2000e+01, 2.0000e+00, 0.0000e+00, 1.0000e+00,
         5.2000e+01],
        [1.1100e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.6500e+02, 2.1100e+02,
         3.6510e+03],
        [9.8000e+01, 0.0000e+00, 7.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
         2.0000e+00],
        [2.1200e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 9.6390e+03, 1.3250e+03,
         3.7136e+04],
        [2.3620e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.6954e+04, 1.7920e+03,
         5.4758e+04],
        [1.4650e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.5930e+03, 4.3200e+02,
         9.9150e+03],
        [9.1300e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.1700e+02, 1.4900e+02,
         1.9850e+03],
        [1.4010e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.2820e+03, 3.6900e+02,
         8.5900e+03],
        [1.2090e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.2200e+02, 2.5100e+02,
         5.2210e+03],
        [3.5100e+02, 0.0000e+00, 3.0000e+00, 2.0000e+00, 1.0000e+00, 3.0000e+00,
         1.2800e+02],
        [1.5290e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.8790e+03, 4.8500e+02,
         1.1506e+04],
        [2.5800e+02, 0.0000e+00, 1.4000e+01, 2.0000e+00, 0.0000e+00, 1.0000e+00,
         6.3000e+01],
        [9.2000e+01, 0.0000e+00, 1.3000e+01, 1.0000e+00, 0.0000e+00, 0.0000e+00,
         5.0000e+00],
        [2.1600e+02, 0.0000e+00, 1.1000e+01, 2.0000e+00, 0.0000e+00, 1.0000e+00,
         4.7000e+01],
        [2.0540e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.6880e+03, 1.1980e+03,
         3.3053e+04],
        [4.0800e+02, 0.0000e+00, 4.0000e+00, 2.0000e+00, 1.5000e+01, 4.0000e+00,
         1.3000e+02],
        [1.0440e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.0000e+02, 1.9400e+02,
         3.2050e+03],
        [1.2410e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.8900e+02, 2.6900e+02,
         5.6520e+03],
        [7.5800e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.9000e+01, 6.4000e+01,
         1.0180e+03],
        [2.5060e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.8081e+04, 2.1970e+03,
         6.5168e+04],
        [1.0770e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.3100e+02, 2.0100e+02,
         3.3230e+03],
        [1.7570e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.4700e+03, 7.3100e+02,
         1.9063e+04],
        [1.8560e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 4.7860e+03, 8.6800e+02,
         2.3401e+04],
        [1.6910e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.0940e+03, 6.5100e+02,
         1.6758e+04],
        [6.6700e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 4.2000e+01, 2.4000e+01,
         4.9000e+02],
        [1.5930e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.1150e+03, 5.4800e+02,
         1.2974e+04],
        [4.8900e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.5000e+01, 8.0000e+00,
         1.9800e+02],
        [4.6200e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.5000e+01, 6.0000e+00,
         1.8600e+02],
        [1.1760e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.7200e+02, 2.3200e+02,
         4.6690e+03],
        [1.8890e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.1250e+03, 9.2100e+02,
         2.4427e+04],
        [1.1430e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.0700e+02, 2.2300e+02,
         4.2030e+03],
        [2.3260e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.5786e+04, 1.6950e+03,
         5.2667e+04],
        [6.9700e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.6000e+01, 4.5000e+01,
         7.4800e+02],
        [5.4700e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.9000e+01, 9.0000e+00,
         3.0200e+02],
        [8.5100e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.8800e+02, 1.1000e+02,
         1.5740e+03],
        [1.3370e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0760e+03, 3.2300e+02,
         7.6280e+03],
        [1.9550e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 6.0590e+03, 1.0190e+03,
         2.7524e+04],
        [2.2220e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.2583e+04, 1.5170e+03,
         4.4582e+04],
        [1.7240e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.3010e+03, 6.9400e+02,
         1.7974e+04],
        [1.9220e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 5.5470e+03, 9.7500e+02,
         2.5922e+04],
        [3.2700e+02, 0.0000e+00, 1.7000e+01, 2.0000e+00, 0.0000e+00, 2.0000e+00,
         8.9000e+01],
        [6.3700e+02, 0.0000e+00, 0.0000e+00, 0.0000e+00, 4.2000e+01, 2.4000e+01,
         4.9000e+02],
        [1.4330e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.3880e+03, 4.0000e+02,
         9.3180e+03],
        [1.8300e+02, 0.0000e+00, 9.0000e+00, 2.0000e+00, 0.0000e+00, 1.0000e+00,
         3.9000e+01],
        [1.6580e+03, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.8190e+03, 6.1700e+02,
         1.5525e+04]])
targets: tensor([[6.7000e+01],
        [8.6800e+02],
        [5.0231e+04],
        [1.3640e+03],
        [1.0498e+04],
        [2.2171e+04],
        [4.1642e+04],
        [2.9100e+04],
        [3.3500e+02],
        [3.9297e+04],
        [6.8170e+03],
        [1.7610e+03],
        [1.4000e+01],
        [2.0228e+04],
        [4.2000e+01],
        [8.0680e+03],
        [1.8000e+02],
        [2.9190e+03],
        [1.2400e+02],
        [5.2000e+01],
        [3.6510e+03],
        [2.0000e+00],
        [3.7136e+04],
        [5.4758e+04],
        [9.9150e+03],
        [1.9850e+03],
        [8.5900e+03],
        [5.2210e+03],
        [1.2800e+02],
        [1.1506e+04],
        [6.3000e+01],
        [5.0000e+00],
        [4.7000e+01],
        [3.3053e+04],
        [1.3000e+02],
        [3.2050e+03],
        [5.6520e+03],
        [1.0180e+03],
        [6.5168e+04],
        [3.3230e+03],
        [1.9063e+04],
        [2.3401e+04],
        [1.6758e+04],
        [4.9000e+02],
        [1.2974e+04],
        [1.9800e+02],
        [1.8600e+02],
        [4.6690e+03],
        [2.4427e+04],
        [4.2030e+03],
        [5.2667e+04],
        [7.4800e+02],
        [3.0200e+02],
        [1.5740e+03],
        [7.6280e+03],
        [2.7524e+04],
        [4.4582e+04],
        [1.7974e+04],
        [2.5922e+04],
        [8.9000e+01],
        [4.9000e+02],
        [9.3180e+03],
        [3.9000e+01],
        [1.5525e+04]])

In [25]:
input_size = len(input_cols)
output_size = len(output_cols)

In [26]:
class FFModel(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear = nn.Linear(input_size, output_size)
        
    def forward(self, xb):
        out = self.linear(xb)
        return out
    
    def training_step(self, batch):
        inputs, targets = batch 
        # Generate predictions
        out = self(inputs)          
        # Calcuate loss
        loss = F.l1_loss(out, targets)
        return loss
    
    def validation_step(self, batch):
        inputs, targets = batch
        # Generate predictions
        out = self(inputs)
        # Calculate loss
        loss = F.l1_loss(out, targets)
        return {'val_loss': loss.detach()}
        
    def validation_epoch_end(self, outputs):
        batch_losses = [x['val_loss'] for x in outputs]
        epoch_loss = torch.stack(batch_losses).mean()
        return {'val_loss': epoch_loss.item()}
    
    def epoch_end(self, epoch, result, num_epochs):
        # Print result every 10th epoch
        if (epoch+1) % 10 == 0 or epoch == num_epochs-1:
            print("Epoch [{}], val_loss: {:.4f}".format(epoch+1, result['val_loss']))

In [27]:
ffmodel = FFModel()

In [28]:
list(ffmodel.parameters())

[Parameter containing:
 tensor([[ 0.0571, -0.2443, -0.1706,  0.2239, -0.2153, -0.3284, -0.0985]],
        requires_grad=True),
 Parameter containing:
 tensor([-0.0871], requires_grad=True)]

In [29]:
def evaluate(model, val_loader):
    outputs = [model.validation_step(batch) for batch in val_loader]
    return model.validation_epoch_end(outputs)

def fit(epochs, lr, model, train_loader, val_loader, opt_func=torch.optim.SGD):
    history = []
    optimizer = opt_func(model.parameters(), lr)
    for epoch in range(epochs):
        # Training Phase 
        for batch in train_loader:
            loss = model.training_step(batch)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
        # Validation phase
        result = evaluate(model, val_loader)
        model.epoch_end(epoch, result, epochs)
        history.append(result)
    return history

In [30]:
result = evaluate(ffmodel, val_loader)
print(result)

{'val_loss': 25275.615234375}

In [31]:
epochs = 100
lr = 5e-7
history5 = fit(epochs, lr, ffmodel, train_loader, val_loader)

Epoch [10], val_loss: 22277.3398
Epoch [20], val_loss: 19303.9023
Epoch [30], val_loss: 16434.5859
Epoch [40], val_loss: 13605.2510
Epoch [50], val_loss: 10704.7939
Epoch [60], val_loss: 7941.3149
Epoch [70], val_loss: 5078.4692
Epoch [80], val_loss: 2145.2573
Epoch [90], val_loss: 121.8287
Epoch [100], val_loss: 241.7931

In [33]:
epochs = 200
lr = 4e-7
history5 = fit(epochs, lr, ffmodel, train_loader, val_loader)

Epoch [10], val_loss: 118.3130
Epoch [20], val_loss: 30.2840
Epoch [30], val_loss: 96.9579
Epoch [40], val_loss: 78.7054
Epoch [50], val_loss: 35.5260
Epoch [60], val_loss: 96.8749
Epoch [70], val_loss: 39.9174
Epoch [80], val_loss: 111.4790
Epoch [90], val_loss: 65.6026
Epoch [100], val_loss: 85.6043
Epoch [110], val_loss: 40.5315
Epoch [120], val_loss: 47.8722
Epoch [130], val_loss: 34.9569
Epoch [140], val_loss: 116.8517
Epoch [150], val_loss: 41.1602
Epoch [160], val_loss: 73.6177
Epoch [170], val_loss: 143.2049
Epoch [180], val_loss: 77.6125
Epoch [190], val_loss: 76.5864
Epoch [200], val_loss: 30.4486

In [34]:
val_loss = 30.4486

In [35]:
def predict_single(input, target, model):
    inputs = input.unsqueeze(0)
    predictions = model(inputs)                # fill this
    prediction = predictions[0].detach()
    print("Input:", input)
    print("Target:", target)
    print("Prediction:", prediction)

In [36]:
input, target = val_ds[0]
predict_single(input, target, ffmodel)

Input: tensor([ 978.,    0.,    0.,    0.,  259.,  178., 2687.])
Target: tensor([2687.])
Prediction: tensor([2679.2427])

In [37]:
input, target = val_ds[3]
predict_single(input, target, ffmodel)

Input: tensor([ 2470.,     0.,     0.,     0., 26997.,  2098., 62228.])
Target: tensor([62228.])
Prediction: tensor([62251.6445])

In [38]:
input, target = val_ds[5]
predict_single(input, target, ffmodel)

Input: tensor([ 1625.,     0.,     0.,     0.,  2465.,   583., 14541.])
Target: tensor([14541.])
Prediction: tensor([14569.7842])

In [44]:
input, target = val_ds[2]
predict_single(input, target, ffmodel)

Input: tensor([134.,   0.,   5.,   1.,   0.,   0.,  14.])
Target: tensor([14.])
Prediction: tensor([14.4657])